/* put custom styles in this file */
/*.container {
	text-align: center;
}*/
body {
	background-color: #E5E4D7;
}
.search-bar {
	padding-bottom: 25px;
}
h1 {
	margin-right: 125px; 
}
#icon {
	height: 40px;
	width: auto;
	display: inline;
	float: left;
	margin-left: 110px;
}
#song {
	width: 475px;
}
#results {
	margin-top: 10px;
}
img {
	float: right;
	height: 200px;
	width: auto;
}
#results #left, #results #right {
	margin-top: 25px;
}
p {
	font-size: 16px;
}
#loadingPic {
	display: none;
	margin-right: 500px;
}