/* put custom styles in this file */
/*.container {
	text-align: center;
}*/
#song {
	width: 450px;
}
#results {
	margin-top: 10px;
}
img {
	float: right;
	height: 200px;
	width: auto;
}
#results #left, #results #right {
	margin-top: 25px;
}
p {
	font-size: 16px;
}
#loadingPic {
	display: none;
	margin-right: 200px;
}