/* put custom styles in this file */
/*.container {
	text-align: center;
}*/
#song {
	width: 450px;
}
#results {
	margin-top: 10px;
}
img {
	float: right;
}
#results #left, #results #right {
	margin-top: 25px;
}